<html>
<head>
    <title>Clubhouse Config</title>
</head>
<body>
    <form method="post" action="/clubhouse_config">
        Phone number
        <br/>
        <input type="text" name="phone_number" value="{{ phone_number }}"/>
        <br/>
        Verification code
        <br/>
        <input type="text" name="code"/>
        <br/>
        Channel
        <br/>
        <input type="text" name="channel"/>
        Language
        <br/>
        <input type="text" name="lang"/>
        <br/>
        <input type="submit"/>
    </form>
</body>
</html>
